@import url(bootstrap.min.css);
@import url(all.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('font-awesome.min.css');

html,body
{
	
	height: 100%;
	width: 100%;
	font-family: Roboto, sans-sarif;
}

/*top navber*/

	.nav-top
	{
		background-color: #F5F5F5;
		color: #444;
	}
	.nav-top a
	{
		text-decoration: none;
		color: #444;
		font-size: 14px;
	}
	.nav-link
	{
		display: inline-block;
	}
	.nav-link ul li 
	{
		margin-left: 10px;
		margin-right: 10px;
	}

/*navber*/
	sup
	{
		background-color: #1FC0A0;
		color: #fff;
		padding: 2px;
		border-radius: 20px;
		margin-left: 1px;
	}
	.navbar-light{
		border-top: 2px solid #1FC0A0;
		border-bottom: 2px solid #1FC0A0;
	}
	.navbar-toggler 
	{
	     color: none !important; 
	     border:none; 
	}
	.navbar-light .menu-btn-2  
	{
		position: absolute;
		z-index: 3;
		right: 15px;
		top: 6px;
	}
	.navbar-light .btn-line 
	{
		width: 30px;
		height: 3px;
		margin: 0 0 5px 0;
		background: #1FC0A0;
	}
	.text-h2
	{
		color: #1FC0A0;
		font-weight: 400px;
	}
	.navbar-light .navbar-nav .nav-link
	{
   	 	color: #000;
   	 	font-size: 18px;
   	 	font-weight: 800px;
	}

	.navbar-light .navbar-nav .nav-link:hover
	{
	   	color: #1FC0A0;
	   	font-size: 18px;
	   	font-weight: 800px;
	}
	.navbar-light .navbar-nav .nav-link-2
	{
   	 	color: #000;
   	 	font-size: 18px;
   	 	font-weight: 800px;
   	 	margin-left: 20px;
	}
	
/*carosel slide*/
	.carousel-caption h2
	{
	    position: relative;
	    top: 1%;
	}
	.carousel-caption 
	{
	    position: absolute;
	    right: 15%;
	    bottom: 167px;
	    left: 51%;
	    z-index: 10;
	}
	.carousel-indicators li 
	{
	    background-color: #1FC0A0;
	}

/****New Arrivel*****/
	
	.card_one{
		position: relative;
		border: 1px solid #1FC0A0;

	}
	.card_one img{
		border-bottom: 4px solid #1FC0A0;
		width: 100%;
		/*padding: 10px;*/
	}

	.card_one .icon{
		text-align: center;
		position: absolute;
		left: 0px;
		right: 0px;
		bottom: 90px;
	}
	.card_one .icon a{
		/*border-radius: 50px;*/
		text-decoration: none;
		height: 20px;
		border: 4px solid #1FC0A0;
		font-size: 15px;
		background-color: #1FC0A0;
		color: #FFF;
		padding: 5px;
	}

/****Fixed*****/
	.bg-footer{
		border-top: 1px solid #1FC0A0;
	}
	#fixed .back-to-top {
	    display: block;
	    position: fixed;
	    bottom: 30px;
	    right: 10px;
	    margin-top: 100px;
	    font-size: 12px;
	    font-weight: 400px;
	    color: #FFFFFF;
	    background-color: #1FC0A0;
	}
	#Fixed .fa-arrow-up{
		color: #FEBC39;
	}

	.btn-success{
		background-color: #000;
		color: #FFFFFF;
		font-size: 20px;
		border: none;
		text-transform: uppercase;
	}
	.btn-success:hover{
		background-color: #1FC0A0;
		color: #FFFFFF;
		font-size: 20px;
		border: none;
	}
	.btn-success:active{
		background-color: #1FC0A0;
		color: #FFFFFF;
		font-size: 20px;
		border: none;
	}

		footer h3{
			border-top: 2px solid #1FC0A0;
			border-bottom: 2px solid #1FC0A0;
			border-radius: 50px;
			padding: 10px;
		}
		footer p {
			text-align: center;
			padding: 2px;
		}
		.bg-footer{
			border-top: 1px solid #1FC0A0;
		}

/*catagory page*/
	
	#catagory .nav-btn{
		border: 4px solid #FFF;
		background-color: #1FC0A0;
		border-radius: 0px;
	}
	#catagory .nav-border{
		border: 4px solid #1FC0A0;
	}
	.catagory  
	{
		position: absolute;
		z-index: 3;
		left: 45px;
		top: 16px;
	}
	.catagory .btn-line 
	{
		width: 30px;
		height: 3px;
		margin: 0 0 5px 0;
		background: #FFF;
	}
	#catagory .navbar-brand {
	    display: inline-block;
	    font-size: 1.4rem;
	    margin-top: 10px;
	    margin-left: 4.5rem;
	    padding: 0px;
	    color: #FFF;
	}
	#catagory a {
	    color: #000;
	    text-decoration: none;
	}
	#catagory .nav-link{
		border: 1px solid #1FC0A0;
		border-radius: 0px;
		padding: 10px;
		width: 96%;
		margin-top: 3px;
	}
	#catagory .nav-link:hover{
		background-color: #1FC0A0;
		color: #FFFFFF;
	}

/*contact page*/

	
